body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#output {
    width: 90%;
    max-width: 500px;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #080303;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    margin-top: 20px;
    overflow-y: auto;
}

#startButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton:hover {
    background-color: #0056b3;
}

#startButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: red;
}

img{
    width: 60px;
    margin-top: 15px;
    border: none;
}

#imgButton{
    border: none;
}

#resetBtn{
margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
